

.container {
  max-width: 960px;
  margin: 0 auto;
  
}
.img-fluid {
  max-width: 100%;
  height: auto !important;
}
.card-body {
  padding: 2rem;
	font-family: tahoma, arial, helvet;
	font: size 14px;
}


