#eventos-container {
  margin-top: 200px;
}

#eventos-buscar-container,
#eventos-crear-container {
  margin-top: 50px;
}

.react-bs-table-sizePerPage-dropdown .dropdown-toggle {
  float: left;
  margin-bottom: 20px;
}

.search-label {
  float: right;
  padding-bottom: 10px;
}
.sr-only {
  font-size: 0;
}
